@model SistemaGestionDeConfiguracionSoftware.Models.MIEMBRO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MIEMBRO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PROYECTO.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROYECTO.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ROL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ROL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RESPONSABILIDAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RESPONSABILIDAD)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_MIEMBRO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
