@model IEnumerable<SistemaGestionDeConfiguracionSoftware.Models.CRONOGRAMA>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ETAPA.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.METODOLOGIA.DESCRIPCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_PROYECTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PORCENTAJE_AVANCE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_INICIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_FIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TAREA_FINALIZADA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TAREA_ENPROCESO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TAREA_ABIERTA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VERSION_ACTUAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ECS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_MIEMBRO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ETAPA.NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.METODOLOGIA.DESCRIPCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_PROYECTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PORCENTAJE_AVANCE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_INICIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_FIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TAREA_FINALIZADA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TAREA_ENPROCESO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TAREA_ABIERTA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VERSION_ACTUAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ECS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_MIEMBRO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_CRONOGRAMA }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_CRONOGRAMA }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_CRONOGRAMA })
        </td>
    </tr>
}

</table>
