@model SistemaGestionDeConfiguracionSoftware.Models.TAREA

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<nav class="nav">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/TAREAs/Index">Tareas</a>
        </li>
        <li class="breadcrumb-item active">
            <label>Detalles</label>
        </li>
    </ol>
</nav>
<div>
    <h4>TAREA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JUSTIFICACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JUSTIFICACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CODIGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODIGO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_TAREA }) |
</p>
